#firstContentRow {
    margin-top: 25px;
}

#resetIcon, #collapseIcon {
    cursor: pointer;
}

#yAxisTitle {
    position: relative;
    float: left;
    -ms-transform: rotate(-90deg); /* IE 9 !2!!1!*/
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera !2!!1!*/
    transform: rotate(-90deg);
    
}

#xAxisTitle {
    clear: both;
}

#chartContainer {
    overflow: hidden;
}

.chartContainerOnLoad {
    height: 60vh;
}

.whirly-loader {
    top: 50%;
}

.chartLabel {
    visibility: hidden;
}
