body {
    color: 
}

/*todo: the below code was meant for bootstrap it seems, just make sure before completely removing*/
/*html, body{
    height : 100%;
}

body {
    padding : 50px 0 0 0;
    background-color : #F9FFF9;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif
}

/* Set padding to keep content from hitting the edges !1!
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
!1!
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default !1!
input,
select,
textarea {
    max-width: 280px;
}

/* This is for the heat map !1!
    #panel {
    background-color: #fff;
    border: 1px solid #999;
    left: 25%;
    padding: 5px;
 
    top: 10px;
    z-index: 5;
    }

/* Jasny stles for navbar!1!
 .navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle !1!
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}

#radiusSlider .slider-selection {
	background: #BABABA;
}*/