@model BugWeb.Models.IntelligenceViewModel
@{
    ViewBag.Title = "Index";
    int count = 0;
}

<div class="row">
    <div class="col-sm-3">
        @foreach (var species in Model.species) { 
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">@species.SpeciesName</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        At instar @species.Lifestage.
                    </div>
                    <div class="col-sm-4">
                        <button onclick="$('#training_content').load('/Intelligence/showSpeciesTrainingData', { 'SpeciesID': @species.SpeciesID });" class="btn btn-default">Edit</button>
                    </div>
                </div>
                 
            </div>
        </div>
        }
    </div>
    <div id="training_content" class="col-sm-9">

    </div>
</div>









