@{
    ViewBag.Title = "Edit Farms";
}

<div layout-fill ng-controller="EditFarmsCtrl" layout="row" layout-align="center start">
    <div layout="column" flex="60">
        <div flex layout-padding layout="column" ng-repeat="farm in farms">
            <md-toolbar class="md-hue-1">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>{{farm.farmName}}</span>
                    </h2>
                    <span flex></span>
                    <md-button ng-click="showDeleteFarmDialog($event, 'DeleteFarmDialogCtrl', farm)" class="md-icon-button" aria-label="Delete farm">
                        <ng-md-icon icon="delete"></ng-md-icon>
                        <md-tooltip>
                            Delete Farm
                        </md-tooltip>
                    </md-button>
                    <md-button ng-click="toggleCollapseIcon(farm)" class="md-icon-button" aria-label="Expand Constraints" data-toggle="collapse" data-target="{{'#'+ farm.farmId}}">
                        <ng-md-icon icon="{{farm.collapseIcon}}"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content flex class="md-hue-1 collapse" id="{{farm.farmId}}">
                <md-list>
                    <div ng-repeat="bName in farm.blockNames">
                        <md-list-item>
                            <md-item-content layout="row" flex>
                                <p>{{bName.name}}</p>
                                <span flex></span>
                                <md-button ng-click="showEditBlockDialog($event, 'EditBlockDialogCtrl', $index, farm)" class="md-icon-button" aria-label="Edit">
                                    <ng-md-icon icon="edit"></ng-md-icon>
                                    <md-tooltip>
                                        Edit Block
                                    </md-tooltip>
                                </md-button>
                                <md-button ng-click="showDeleteBlockDialog($event, 'DeleteBlockDialogCtrl', $index, farm)" class="md-icon-button" aria-label="Delete block">
                                    <ng-md-icon icon="delete"></ng-md-icon>
                                    <md-tooltip>
                                        Delete Block
                                    </md-tooltip>
                                </md-button>
                            </md-item-content>
                        </md-list-item>
                        <md-divider></md-divider>
                    </div>
                    <md-list-item>
                        <md-item-content layout="row" flex>
                            <span flex></span>
                            <md-button ng-click="showAddBlockDialog($event, 'AddBlockDialogCtrl', farm)" class="md-icon-button" aria-label="Add Block">
                                <ng-md-icon icon="add"></ng-md-icon>
                                <md-tooltip>
                                    Add Block
                                </md-tooltip>
                            </md-button>
                        </md-item-content>
                </md-list-item>
                </md-list>
            </md-content>
        </div>
        <div layout-fill layout="row" layout-align="end end">
            <md-button ng-click="showAddFarmDialog($event, 'AddFarmDialogCtrl')" class="md-fab md-primary" aria-label="Add Farm">
                <ng-md-icon icon="add"></ng-md-icon>
                <md-tooltip>
                    Add Farm
                </md-tooltip>
            </md-button>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/farmmanagement/editFarms")
}
