<md-content layout="column">
    <div layout="row">
        <div>
            <md-toolbar class="md-hue-1">
                <div class="md-toolbar-tools">
                    <md-button ng-click="toggleCollapseIcon()" class="md-icon-button">
                        <ng-md-icon icon="{{optionsContainer.collapseIcon}}"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content class="md-hue-1">
                <md-input-container>
                    <label>Farm</label>
                    <md-select ng-model="ctrl.userState">
                        <md-option ng-repeat="farm in farms" value="{{farm}}">
                            {{farm}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </md-content>
        </div>
    </div>
</md-content>
