@{
    ViewBag.Title = "Reporting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li><a a class="btn-link" href="@Url.Action("tabular", "reporting")">Click here to view tabular data</a></li>
    <li><a a class="btn-link" href="@Url.Action("graphical", "reporting")">Click here to view graphical data</a></li>
</ul>

