
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h1 class="align-left">View data via tables</h1>
    </div>
</div>


<form class="form-horizontal" role="form" action='@Url.Action("viewtable", "reporting")' method="POST">
    <fieldset>
        <legend>Set the filters:</legend>
        <div class="form-group">
            <input type="email" class="form-control col-lg-10" name="Username" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control col-lg-10" name="Password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-default col-lg-1 col-lg-offset-3">Generate tables</button>
        </div>
    </fieldset>
</form>