@model BugWeb.Models.ReportingViewModel
@{
    ViewBag.Title = "Tabular";
}
@section scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-html5-1.0.3,b-print-1.0.3/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/r/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-html5-1.0.3,b-print-1.0.3/datatables.min.js"></script>
    <script src="~/Scripts/table.js"></script>
    <script src="~/Scripts/tableScout.js"></script>
    <script src="~/Scripts/tableTreatment.js"></script>
}
@section styles
{
    @Styles.Render("~/Content/table.css")
}

<script type="application/javascript">
        var recordsUrl = "@Url.Content("~/api/records/" + @Model.RecordsUrlSuffix)";
        var speciesUrl = "@Url.Content("~/api/species")";
</script>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#Scout_Data">Scouting Data</a>
        </li>
        <li>
            <a href="#Treatment_Data">Treatment Data</a>
        </li>
    </ul>

<div class="tab-content">
    
    <div id="Scout_Data" class="tab-pane fade in active">

        <div id="constraintsDivScout" class="panel-group">
            <div class="panel panel-default  " style="padding: 0px">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <span id="collapseIconScout" data-toggle="collapse" data-target="#collapsibleTableScout" class="glyphicon glyphicon-collapse-down"></span>
                        <span id="resetIconScout" class="glyphicon glyphicon-refresh pull-right"></span>
                        <strong> Constraints</strong>
                    </h1>
                </div>
                <div id="collapsibleTableScout" class="panel-collapse collapse in">
                    <table class="table myTable">
                        <tbody>
                            <tr>
                                <th class="myTable">Farm</th>
                                <td class="myTable">
                                    <select id="farmScout" class="form-control farms">
                                        <option value="all">All Farms</option>
                                    </select>
                                </td>
                                <th class="myTable">Date</th>
                                <td class="myTable" rowspan="3">
                                    <label for="timeFromScout">From:</label>
                                    <input type="date" id="timeFromScout" class="form-control constraintScout dateFrom">

                                    <label for="timeToScout">To:</label>
                                    <input type="date" id="timeToScout" class="form-control constraintScout dateTo"><br />
                                    <input class="constraintScout" id="dateAnyScout" type="checkbox" checked> Any
                                </td>
                            </tr>
                            <tr>
                                <th class="myTable">Blocks</th>
                                <td class="myTable">
                                    <select id="blocksScout" class="form-control constraintScout">
                                        <option value="all">All Blocks</option>
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <th class="myTable">Species</th>
                                <td class="myTable">
                                    <select id="speciesScout" class="form-control">
                                        <option value="all">All Species</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="myTable">Species instars</th>
                                <td class="myTable">
                                    <select id="speciesStageScout" class="form-control constraintScout">
                                        <option value="all">All Instars</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="tableDiv whirly-loader" id="scoutTableDiv"></div>

    </div>

    <div id="Treatment_Data" class="tab-pane fade">
        <div id="constraintsDivTreatment" class="panel-group">
            <div class="panel panel-default" style="padding: 0px">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <span id="collapseIconTreatment" data-toggle="collapse" data-target="#collapsibleTableTreatment" class="glyphicon glyphicon-collapse-down"></span>
                        <span id="resetIconTreatment" class="glyphicon glyphicon-refresh pull-right"></span>
                        <strong> Constraints</strong>
                    </h1>
                </div>
                <div id="collapsibleTableTreatment" class="panel-collapse collapse in">
                    <table class="table mytable">
                        <tbody>
                            <tr>
                                <th class="myTable">Farm</th>
                                <td class="myTable">
                                    <select id="farmTreatment" class="form-control farms">
                                        <option value="all">All Farms</option>
                                    </select>
                                </td>
                                <th class="myTable">Date</th>
                                <td class="myTable" rowspan="3">
                                    <label for="timeFromTreatment">From:</label>
                                    <input type="date" id="timeFromTreatment" class="form-control constraintTreatment dateFrom">

                                    <label for="timeToTreatment">To:</label>
                                    <input type="date" id="timeToTreatment" class="form-control constraintTreatment dateTo"><br />
                                    <input class="constraintTreatment" id="dateAnyTreatment" type="checkbox" checked> Any
                                </td>
                            </tr>
                            <tr>
                                <th class="myTable">Blocks</th>
                                <td class="myTable">
                                    <select id="blocksTreatment" class="form-control constraintTreatment">
                                        <option value="all">All Blocks</option>
                                    </select>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tableDiv whirly-loader" id="treatmentTableDiv"></div>
        </div>
    </div>

    </div>

</div> 






