@model BugWeb.Models.ReportingViewModel
@{
    ViewBag.Title = "Tabular";
}
@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.8/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.8/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Table.js"></script>
}

<label for="blocks">Blocks:</label>
<select id="blocks" class="form-control">
    <option value="all">All Blocks</option>
    
        @foreach (var y in @Model.Farm.Blocks)
        {
            <option value=@y.BlockName>@y.BlockName</option>
        }

    
</select>

<label for="timeRange">Time Range:</label>
<div id="timeRange">

    <label for="timeFrom">Starting date:</label>
    <input type="date" id="timeFrom" class="form-control">

    <label for="timeTo">Ending date:</label>
    <input type="date" id="timeTo" class="form-control">
</div>

<label for="species">Bug Species:</label>
<select id="species" class="form-control">
    <option value="all">All Species</option>
</select>

<label for="view">View by:</label>
<select id="view" class="form-control">
    <option value="date">Date</option>
    <option value="species">Species (Pests)</option>
    <option value="blockName">Blocks</option>
</select>

<button style="margin-top: 15px" id="generateBut" data-url="./api/apireporting/get/@Model.ActiveFarmId" class="btn-default" onclick="generate()">Generate tables</button>

<table id="table"></table>