<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>x64</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sambug.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sambug.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Sambug</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$Sambug</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="BugDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sambug.database.windows.net;Initial Catalog=BugDB;User ID=sambug;Password=num6kGSb;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccess.Models.BugDBEntities, DataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BugDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EntityFrameworkModel.csdl|res://*/Models.EntityFrameworkModel.ssdl|res://*/Models.EntityFrameworkModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sambug.database.windows.net;Initial Catalog=BugDB;User ID=sambug;Password=num6kGSb;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>