<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sambug.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sambug.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sambug</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sambug</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BugDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=f35c30b3-de1c-48a1-8100-a533001f440a.sqlserver.sequelizer.com;Initial Catalog=dbf35c30b3de1c48a18100a533001f440a;Persist Security Info=True;User ID=lmobqhdqkkymkfdv;Password=qcntvf7F5PoNKX7JFun4mCefZoRbDShy6oMRvgRvDbg8dAcJAw6e8nMU7gBhw6bk;Application Name=EntityFramework" Name="Data Source=f35c30b3-de1c-48a1-8100-a533001f440a.sqlserver.sequelizer.com;Initial Catalog=dbf35c30b3de1c48a18100a533001f440a;Persist Security Info=True;User ID=lmobqhdqkkymkfdv;Password=qcntvf7F5PoNKX7JFun4mCefZoRbDShy6oMRvgRvDbg8dAcJAw6e8nMU7gBhw6bk;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccess.Models.BugDBEntities, DataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BugDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EntityFrameworkModel.csdl|res://*/Models.EntityFrameworkModel.ssdl|res://*/Models.EntityFrameworkModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=f35c30b3-de1c-48a1-8100-a533001f440a.sqlserver.sequelizer.com;Initial Catalog=dbf35c30b3de1c48a18100a533001f440a;Persist Security Info=True;User ID=lmobqhdqkkymkfdv;Password=qcntvf7F5PoNKX7JFun4mCefZoRbDShy6oMRvgRvDbg8dAcJAw6e8nMU7gBhw6bk;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>