<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BugDBEntities" connectionString="metadata=res://*/Models.EntityFrameworkModel.csdl|res://*/Models.EntityFrameworkModel.ssdl|res://*/Models.EntityFrameworkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pkb0rohb0j.database.windows.net;initial catalog=BugTeam;user id=werner;password=BugTeam1945;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>