<md-dialog flex="30" layout="column" class="custom-dialog" aria-label="Add farm" ng-cloak>
    <form ng-submit="post($event)" action="api/farms" flex layout="column" name="addFarmForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-title">Add Farm</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close" aria-label="Close Dialog"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding flex layout="column">
            <md-input-container>
                <label>Farm Name</label>
                <input required type="text" name="farmName" ng-model="newFarmName" minlength="1" maxlength="50" md-autofocus/>
                <div ng-messages="addFarmForm.farmName.$error" role="alert">
                    <div ng-message="required">Please enter a farm name</div>
                    <div ng-message="minlength, maxlength">The farm name must be between 1 and 50 characters</div>
                </div>
            </md-input-container>
            <div class="errorMessageContainer" flex layout="row" layout-align="center center">
                <div ng-messages="errorMessage" role="alert">
                    <div class="customErrorMessage" ng-message="invalidInput">The name you have entered is invalid.</div>
                    <div class="customErrorMessage" ng-message="farmExists">This farm already exists.</div>
                </div>
            </div>
        </md-content>
        <div class="md-actions" layout="row">
            <div class="loaderContainer" layout="row" layout-align="center center">
                <md-progress-circular md-mode="indeterminate" ng-show="loading" md-diameter="15px"></md-progress-circular>
            </div>
            <span flex></span>
            <md-button type="submit" class="md-icon-button md-primary" aria-label="Add Farm">
                <ng-md-icon icon="check"></ng-md-icon>
            </md-button>
        </div>
    </form>
</md-dialog>

