<md-dialog flex="40" layout="column" class="custom-dialog" aria-label="Delete farm" ng-cloak>
    <form ng-submit="post($event)" action="api/farms" flex layout="column" name="deleteFarmForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-title">Delete Farm</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close" aria-label="Close Dialog"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding flex layout="column">
            <h3>
                Are you sure you want to delete {{farmName}}?
            </h3>
            <p>All data associated with this farm will be deleted</p>
            <div class="errorMessageContainer" flex layout="row" layout-align="center center">
                <div ng-messages="errorMessage" role="alert">
                    <div ng-message="invalidInput">Invalid farm input.</div>
                    <div ng-message="farmNotFound">This farm was not found.</div>
                </div>
            </div>
        </md-content>
        <div class="md-actions" layout="row">
            <div class="loaderContainer" layout="row" layout-align="center center">
                <md-progress-circular md-mode="indeterminate" ng-show="loading" md-diameter="15px"></md-progress-circular>
            </div>
            <span flex></span>
            <md-button type="button" ng-click="cancel()" aria-label="Reject Delete Farm">No</md-button>
            <md-button type="submit" class="md-icon-button" aria-label="Delete Farm">Yes</md-button>
        </div>
    </form>
</md-dialog>