
@{
    ViewBag.Title = "About Us";
}

<div layout="column" layout-align="center start">
    <div flex layout-fill layout-padding>
        <div flex="20"></div>
        <div layout="row" layout-align="center center">
            <img src="~/Content/Images/samac_logo.png" height="350" class="img-rounded" alt="SAMAC Logo">
            <div flex="10"></div>
            <img src="~/Content/Images/vsd.png" height="350" class="img-rounded" alt="VSD Logo">
        </div>
        <div flex="10"></div>
        <div layout="row">
            <div flex="15"></div>
            <div flex>
                <p flex>
                    South Africa’s Macadamia nut industry has grown by astronomical
                    proportions in the past 2 decades, making it the largest Macadamia nut
                    producer in the world. The explosion of this lucrative industry has been
                    hindered by only one “small” problem - Stinkbugs. Only this problem is
                    not as small as it may initially seem since the damage that these
                    stinkbugs cause is to the tune of
                    R170 000 000 Annually!
                </p>
                <p>
                    Efforts to control these pests have in the past proved futile because the
                    accurate scheduling of chemical sprays - which would reduce the
                    number of stink bugs damaging the kernels of the Macadamia nuts -
                    relies heavily on the accurate identification of stink bug species, which is
                    difficult because the people involved are more often than not untrained.
                    Furthermore, area wide pest control has not been possible because a
                    central storage of the necessary data has not been set up among the
                    Macadamia nut growers.
                </p>
                <p>
                    Enter VSD. With the realisation of the problem at hand, we have made
                    an Android app that allows for correct identification and requires minimal
                    training. Instead of training a scout to identify species, he/she can just
                    use visual references to identify the bug or, better yet, allow the phone to
                    identify the bug by itself! This scout information is stored in a central
                    database that houses all growers’ data so that decisions can be made
                    by looking at the collective results of an entire farm or farming area.
                 </p>
                 <p>
                    <i><strong>A Simple Solution To Solve A Stinky Problem</strong></i>
                </p>
                <p>
                    <br/>
                    <br />
                    <br />
                    Our contact details:<br />
                    vectorsoftwaredevelopers@gmail.com
                </p>
            </div>
            <div flex="15"></div>
        </div>        
        <md-divider></md-divider>
        <h1 class="md-headline">User Manual</h1>
        To download our user manual, please click <a href="~/home/download">here</a>
    </div>
</div>
