
@{
    ViewBag.Title = "About Us";
}

<div layout="row" layout-align="center start">
    <img src="~/Content/Images/logo.png" width="350" class="img-rounded" alt="SAMBUG">
    <br/>
    South Africa’s Macadamia nut industry has grown by astronomical
    proportions in the past 2 decades, making it the largest Macadamia nut
    producer in the world. The explosion of this lucrative industry has been
    hindered by only one “small” problem - Stinkbugs. Only this problem is
    not as small as it may initially seem since the damage that these
    stinkbugs cause is to the tune of
    R170 000 000 Annually!
    Efforts to control these pests have in the past proved futile because the
    accurate scheduling of chemical sprays - which would reduce the
    number of stink bugs damaging the kernels of the Macadamia nuts -
    relies heavily on the accurate identification of stink bug species, which is
    difficult because the people involved are more often than not untrained.
    Furthermore, area wide pest control has not been possible because a
    central storage of the necessary data has not been set up among the
    Macadamia nut growers.
    Enter VSD. With the realisation of the problem at hand, we have made
    an Android app that allows for correct identification and requires minimal
    training. Instead of training a scout to identify species, he/she can just
    use visual references to identify the bug or, better yet, allow the phone to
    identify the bug by itself! This scout information is stored in a central
    database that houses all growers’ data so that decisions can be made
    by looking at the collective results of an entire farm or farming area.
    A Simple Solution To Solve A Stinky Problem


    <br />
    <img src="~/Content/Images/vsd.png" width="550" class="img-rounded" alt="VSD">

    Our contact details:

    vectorsoftwaredevelopers@gmail.xom

    To download our user manual, please click <a href="~/Home/Download">here</a>
</div>
