﻿@{
     ViewBag.Title = "Home";
     ViewBag.Reporting = "false";
 }

<div layout="row" layout-align="center start" ng-controller="IndexCtrl" ng-cloak>
    <div layout="column" layout-padding layout-margin flex>
        <div layout="column" ng-repeat="species in speciesList">
            <div layout="column" layout-align="start center">
                <h1 class="md-headline">{{species.name}}</h1>
                <div layout="row" id="carousel-{{$index}}" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li ng-repeat="lifeStage in species.lifeStages" data-target="#carousel-{{$parent.$index}}" data-slide-to="{{$index}}" ng-class="$index === 0 ? 'active' : ''"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div ng-repeat="lifeStage in species.lifeStages" ng-class="$index === 0 ? 'item active' : 'item'">
                            <img style="height: 400px" ng-src="{{lifeStage.image.url}}" ng-alt="{{lifeStage.image.alt}}">
                            <div class="carousel-caption">
                                <h3>{{lifeStage.name}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h2 class="md-title">{{species.speciesName.heading}}</h2>
                <p style="color: lightgrey"><i>{{species.speciesName.body}}</i></p>
            </div>
            <div ng-repeat="info in species.information">
                <h2 class="md-title">{{info.heading}}</h2>
                <p style="color: lightgray" class="md-body-1">{{info.body}}</p>
            </div>
            <md-divider></md-divider>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/index")
}