@{
    ViewBag.Title = "Home Page";
}
<br/>
<div class="row">

    <div class="col-sm-2">
        <div class="btn-group-vertical" role="group" aria-label="...">
            <a href="../FarmManagement/EditBlocks" class="btn btn-primary btn-block">Edit Blocks</a>
            <a href="../Authentication/EditUserRoles" class="btn btn-primary btn-block">&nbsp Edit User Roles &nbsp</a>
            <a href="../FarmManagement/Treatments" class="btn btn-primary btn-block">&nbsp Treatments</a>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-body container-fluid">
                <div class="row">
                    <div class="col-sm-10">
                        <div id="visual_data_content">
                            @Html.Action("Map", "Reporting")
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn-group-vertical" role="group" aria-label="...">
                            <button class="btn btn-default btn-block" onclick="$('#visual_data_content').load('./Reporting/Charts')">View Graph</button> 
                            <button class="btn btn-default btn-block" onclick="$('#visual_data_content').load('./Reporting/Tabular')">View Table</button>
                            <button class="btn btn-default btn-block" onclick="$('#visual_data_content').load('./Reporting/Map')">&nbsp View Heat Map &nbsp</button>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">Historical Data</div>
            </div>       
        </div>
    </div>
</div>
