@{
    Layout = "~/Views/Shared/Login.cshtml";
}


<div class="row">
    <div class="col-lg-6">
        <h1 class="align-left">Welcome to SAMBUG</h1>
    </div>
</div>


<form class="form-horizontal" role="form" action="authentication/login" method="POST">
    <fieldset>
        <legend>Please log in to continue</legend>
        <div class="form-group">
            <label class="control-label col-lg-2">Username</label>
            <input type="email" class="form-control col-lg-10" id="Username" placeholder="e.g. xyz@gmail.com" required>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">Password</label>
            <input type="password" class="form-control col-lg-10" id="Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-default col-lg-1 col-lg-offset-3">Log in</button>
        </div>
        <div class="form-group">
        <p class="col-lg-2 col-lg-offset-2 align-left">Click <a class="btn-link" href="/Views/Home/Register.cshtml">here</a> to register
        </p>
            </div>
</fieldset>
</form>







