@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-non-bindable>
    <div id="reporting" ng-controller="AppCtrl">
        <div ng-view>

        </div>
    </div>
</div>

@*@Scripts.Render("~/bundles/chartist")
  @Scripts.Render("~/bundles/chartist-plugins")
  @Scripts.Render("~/bundles/typeahead")
  @Scripts.Render("~/bundles/bootstrap-tagsinput")*@

@section scripts{
    @Scripts.Render("~/bundles/report")
    <script type="text/javascript">
        angular.bootstrap(document.getElementById("reporting"), ['reporting']);
    </script>
}

