
@{
    ViewBag.Title = "ChangePassword";
}

<div class="row">
    <div class="col-lg-6">
        <h1 class="align-left">Welcome to SAMBUG</h1>
    </div>
</div>

<form class="form-horizontal" role="form" action='@Url.Action("ChangePassword", "authentication")' method="POST">
    <fieldset>
        <legend>Change your password</legend>
        <div class="form-group">
            <input type="email" class="form-control col-lg-10" name="Username" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control col-lg-10" name="Password" placeholder="New Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-default col-lg-1 col-lg-offset-3">Reset</button>
        </div>
    </fieldset>
</form>