
@{
    ViewBag.Title = "CheckEmail";
    Layout = "~/Views/Shared/Authentication.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h1 class="align-left">Welcome to SAMBUG</h1>
    </div>
</div>

        <legend>Please check your email</legend>
        <div class="form-group">
            <p class="col-lg-2 col-lg-offset-2 align-left">
                Click <a class="btn-link" href="@Url.Action("login","home")">here</a> to go back to Login.
            </p>
        </div>



