@{
    ViewBag.Title = "Edit User Roles";
}

<div layout-fill ng-controller="UserManagementCtrl" layout="row" layout-align="center start">
    <div layout-padding layout="column" flex="60">
        <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
                <h3>Users</h3>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content flex class="md-hue-1" id="users">
            <md-list>
                <div layout-padding ng-repeat="user in users">
                    <md-list-item layout="row" flex>
                        <md-item-content layout="row" flex>
                            <div flex="85">
                                <p>{{user.email}}</p>
                            </div>
                            <span flex></span>
                            <md-button ng-click="showEditUserRolesDialog($event, 'EditUserRolesDialogCtrl', user)" class="md-fab md-mini md-primary" aria-label="Edit User Roles">
                                <ng-md-icon icon="edit"></ng-md-icon>
                                <md-tooltip>
                                    Edit Roles
                                </md-tooltip>
                            </md-button>
                            <span flex></span>
                        </md-item-content>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
            </md-list>
        </md-content>
    </div>
</div>


@section scripts
{
    <script type="application/javascript">
        angular.module("appMain").factory("usersUrlService", function(){
            return {
                getAllUrl: "@Url.Content("~/api/users/")"
            };
        });
    </script>

    @Scripts.Render("~/bundles/authentication/edituserroles")
}