@{
    ViewBag.Title = "Login Page";
    Layout = "~/Views/Shared/Authentication.cshtml";
}


<div class="row">
    <div class="col-lg-6">
        <h1 class="align-left">Welcome to SAMBUG</h1>
    </div>
</div>


<form class="form-horizontal" role="form" action='@Url.Action("login", "authentication")' method="POST">
    <fieldset>
        <legend>Please log in to continue</legend>
        <div class="form-group">
            <input type="email" class="form-control col-lg-10" name="Username" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control col-lg-10" name="Password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-default col-lg-1 col-lg-offset-3">Log in</button>
        </div>
        <div class="form-group">
        <p class="col-lg-2 col-lg-offset-2 align-left">Click <a class="btn-link" href="@Url.Action("register","home")">here</a> to register
        </p>
            </div>
        <div class="form-group">
            <p class="col-lg-2 col-lg-offset-2 align-left">
                Click <a class="btn-link" href="@Url.Action("RecoverAccount", "home")">here</a> to recover account.
            </p>
        </div>
</fieldset>
</form>







