@{
    Layout = "~/Views/Shared/Authentication.cshtml"; ;
}

<div class="row">
    <div class="col-lg-6">
        <h1 class="align-left">Welcome to SAMBUG</h1>
    </div>
</div>


<form class="form-horizontal" role="form" action="authentication/register" method="POST">
    <fieldset>
        <legend>Please sign up to continue</legend>
@*        <div class="input-group">*@
            <input type="email" class="form-control form-group col-lg-10" name="Username" placeholder="Email" required>

            <input type="email" class="form-control form-group col-lg-10" name="UsernameConfirmation" placeholder="Confirm email" required>

            <input type="password" class="form-control col-lg-10" name="Password" placeholder="Password" required >

            <input type="password" class="form-control col-lg-10" name="PasswordConfirmation" placeholder="Confirm password" required>

            <input type="text" class="form-control col-lg-10" name="FarmName" placeholder="Farm Name" required>

            <button type="submit" class="btn-default col-lg-1 col-lg-offset-3">Sign Up</button>
@*        </div>*@
    </fieldset>
</form>
